doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/main.css")
    title Work With Scroll Trigger
  body
    .wrapper
      .content
        header.hero-section#hero-section
          img(class='hero' src="img/hero.png", alt="hero" data-speed=".6")
          .container
            .main-header(data-speed=".75")
              h1.main-title creative scroll
        .portfolio
          .container
            main.gallery
              .gallery__left(data-speed=".9")
                img(class='gallery__item' src="img/work/1.jpg", alt="Alt")
                img(class='gallery__item' src="img/work/2.jpg", alt="Alt")
                .text-block.gallery__item
                  h2.text-block__h Creative floating scroll with amazing parallax effect
                  p.text-block__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling.
                img(class='gallery__item' src="img/work/6.jpg", alt="Alt")
              .gallery__right(data-speed="1.1")
                .text-block.gallery__item
                  h2.text-block__h Creative floating scroll with amazing parallax effect
                  p.text-block__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling.
                img(class='gallery__item' src="img/work/4.jpg", alt="Alt")
                img(class='gallery__item' src="img/work/5.jpg", alt="Alt")
                img(class='gallery__item' src="img/work/3.jpg", alt="Alt")
    script(src="libs/gsap/gsap.min.js") 
    script(src="libs/gsap/ScrollTrigger.min.js") 
    script(src="libs/gsap/ScrollSmoother.min.js") 
    script(src="js/main.js") 